ul.list-group {
    min-height: 130px;
  }
  
  body{
    font-family: "Open Sans", sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6{
    font-family: "Staatliches", sans-serif;
  }
  
  .list-group-item{
    width: 100%;
    background-color: #2bd2ff;
    margin-top: 5px;
    padding: 5px;
    border-radius: 15px;
  }
  
  .btn-add, .btn-save{
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #fa8bff 0%, #2bd2ff 52%, #2bff88 90%);
    transition: all .5s ease-out;
    background-size: 1px 100px;
    background-position: 0 -10px;
  }
  
  .btn-close, .btn-delete{
    background-color: #ea0028;
    background-image: linear-gradient(180deg, #ff9a8b 0%, #ea0028 100%);
    transition: all .5s ease-out;
    background-size: 1px 100px;
    background-position: 1px -10px;
  }
  
  .btn-add:hover,
  .btn-save:hover,
  .btn-close:hover,
  .btn-delete:hover{
    background-position: 1px -50px;
  }

  li{
    margin: 5px;
    background-color: #2bd2ff;
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;
    color: white;
    list-style-type: none;
  }